<!-- Page Wrapper -->
<div id="wrapper" style="background-color: #224bbe;">     
    <!-- Sidebar -->
        <div *ngIf="urlRetorno != '/header/simuladorplanejamento';" >
            <ul [ngClass]="{'toggled': isSidebarToggled}" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
                <!--toggled-->     
                <!-- Sidebar - Brand -->
                <a class="sidebar-brand d-flex align-items-center justify-content-center">
                    <div class="mx-3" (click)="ToggleSidebar()">
                        <img style="width: 60px;height: 60px;" src="assets\image\logowillians-removebg.png">
                    </div>
                </a>
                <div>
                    <!-- Divider -->
                    <hr class="sidebar-divider my-0">

                    <!-- Nav Item - Cadastra Projeto -->
                    <li class="nav-item">
                        <a class="nav-link" (click)="atualisarRoute('/header/cadastrar')" routerLink="/header/cadastrar" >
                            <i class="fas fa-fw fa-chart-pie"></i>
                            <span>Cadastrar Projetos</span></a>
                    </li>   
                    <!-- Nav Item - Editar Projeto-->
                    <li class="nav-item">
                        <a class="nav-link" (click)="atualisarRoute('/header/editar')" routerLink="/header/editar" >
                            <i class="fas fa-fw fa-money-bill-wave"></i>
                            <span>Editar Projetos</span>
                        </a>
                    </li>
                    <!-- Nav Item - Realizar Projeto-->                    
                    <li class="nav-item" (click)="atualisarRoute('/header/realizar')" routerLink="/header/realizar" >
                        <a class="nav-link">
                            <i class="fas fa-fw fa-chart-area"></i>
                            <span>Realizar Projetos</span>
                        </a>
                    </li>                                                            
                </div>
                <hr class="sidebar-divider d-none d-md-block">
                
                <div class="text-center d-none d-md-inline">
                    <button class="rounded-circle border-0" (click)="ToggleSidebar()"  id="sidebarToggle"></button>
                </div>     
            </ul>
        </div>                  
        <!-- End of Sidebar -->
        
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content" >   
                <nav class="navbar navbar-expand navbar-light bg-white topbar static-top shadow">
                    <!-- Topbar Navbar -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">{{this.cabecalho}}</h1>
                        <!--a  href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a-->
                    </div>
                    <ul class="navbar-nav ml-auto">
                        <div class="topbar-divider d-none d-sm-block"></div>
                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle"  id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{this.user}}</span>
                                    <img class="img-profile rounded-circle" src="assets/image/undraw_profile_2.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" >
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Perfil
                                </a>
                                <a class="dropdown-item" >
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Configurações
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item"  data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class=""><!--class="col-md-9 ms-sm-auto col-lg-10 px-md-4"-->
                    <router-outlet></router-outlet>                            
                </div>
                
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
        </div>
</div>
<!-- End of Page Wrapper -->


<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Realmente deseja sair?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Todos os dados não salvo seram perdidos...</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" data-dismiss="modal" aria-label="Close" routerLink="/login">Sair</a>
            </div>
        </div>
    </div>
</div>       
